.DS_Store

# latex files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.idx
*.ilg
*.ind
*.nav
*.snm
*.run.xml
*.bcf
*.txss
*.lof
*.lot
*.ist
*.glo
*.glg
*.gls
*.alg
*.acn
*.acr
_minted*
*.fdb_latexmk
*.fls
*.pdf
