# IPython notebooks checkpoints
notebooks/.ipynb_checkpoints/

# the datasets are too large to be stored in GitHub
notebooks/data/

# result files that are too large
notebooks/results/sdss_whole_dataset/

# source files for reports and presentations
reports/source/

# others
.DS_Store
media/
dist/
doc/_build/
mclearn/__pycache__/
mclearn.egg-info/